build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.cpp.6227D0CEFAB07334.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.h.BE7BFD1BE55B6B00.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/ui_mainwindow.h.0B692A8EE8DC5855.idx
build/Desktop_Qt_6_9_1_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.cpp.6227D0CEFAB07334.idx
tp_juegooca.pro.user
